.DS_Store
.build-tests/
.ufbt-venv/
.host-venv/
**/.build/
**/.build-*/
**/.swiftpm-cache/
**/.swiftpm/
**/__pycache__/
*.pyc
*.so
*.pyd
*.egg-info/
DerivedData/
build/
*.spec
.vscode/compile_commands.json
dist/debug/
dist/macos/Build.noindex/
dist/host-desktop/
